.service-page-img {
  height: 40vh;
  background-image: url("../Assets/pagesabout.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.pages-service h2:nth-child(1) {
  /* font-size: 50px !important; */
  color: white !important;
}

.service-right p:nth-child(1) {
  color: green;
  font-size: 58px;
  padding: 5px 10px;
  background-color: rgba(172, 255, 47, 0.274);
  width: max-content;
  border-radius: 5px;
}

.service-details {
  padding: 5px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .service-left img {
    width: 288px;
  }
  .crypto img{
    width: 300px;
  }
}
